%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{:type => "button", "data-toggle" => "collapse", "data-target" => "#example-navbar-collapse"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} Jobs Board

    .collapse.navbar-collapse{:id => "example-navbar-collapse"}
      %ul.nav.navbar-nav
        %li= link_to("All Jobs", "#")
        %li= link_to("Full-time", "#")
        %li= link_to("Part-time", "#")
        %li= link_to("Freelance", "#")
        %li= link_to("Remote", "#")

      %ul.nav.navbar-nav.navbar-right
        %li= link_to("New Jobs", "#")
